header {
  background-color: #333;
  position: sticky;
  top: 0;
  color: white;
  text-align: center;
  padding: 5px;
  display: flex;
}

header nav {
  display: flex;
  position: static;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

header li {
  float: left;
}

li a, .dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

header li a:hover, .dropdown:hover .dropbtn {
  background-color: red;
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

body {
  font-size: 15px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
}

.navbar_link {
  text-decoration: none;
  color: black;
  font-size: 20px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  padding: 10px;
  border: 1px solid black;
}

@media screen and (max-width: 700px){
  body::after {
    content: "This screen is <= 700px wide";
  }
}

@media screen and (min-width: 700px){
  body::after {
    content: "This screen is > 700px wide";
  }
}

body::after {
  position: fixed;
  bottom: 0;
  right: 0;
  background-color: white;
  padding: 5px;
  color: black;
  border: 1px solid black;
  font-size: 20px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

@media screen  and (max-width: 700px){
  header nav {
    flex: 1;
    flex-direction: column;
    text-align: center;
  }
}

@media screen and (max-width: 700px){
  #whimsy {
    height: 200px;
    width: 200px;
  }
}

#comment_form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#comment_form > label {
  margin: 5px;
  color: blue;
  font-size: 20px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#comment_form > input {
  margin: 5px;
  padding: 5px;
  font-size: 20px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.project {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  padding: 10px;
  border: 1px solid black;
}

footer {
  width: 100%;
  background-color: #333;
  color: white;
  text-align: center;
  padding: 5px;
}

#theme_button {
  margin: 5px;
  padding: 5px;
  font-size: 20px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.coursework {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  padding: 10px;
  border: 1px solid black;
}

.ta_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  padding: 10px;
  border: 1px solid black;
}

#comments_section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  padding: 10px;
  border: 1px solid black;
}

#comments_section > ul {
  list-style-type: none;
  padding: 0;
}

#comments_section > ul > li {
  margin: 5px;
  padding: 5px;
  border: 1px solid black;
}

.comment_submission_area {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  padding: 10px;
  border: 1px solid black;
}